apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: event-subscriber-0
  name: event-subscriber-0
  namespace: eventing-test
spec:
  replicas: 1
  selector:
    matchLabels:
      app: event-subscriber-0
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: event-subscriber-0
    spec:
      containers:
        - image: eu.gcr.io/kyma-project/eventing-tools:latest
          command: ["subscriber"]
          imagePullPolicy: IfNotPresent
          name: event-subscriber
          ports:
            - name: http
              protocol: TCP
              containerPort: 8888
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /healthz
              port: 8888
              scheme: HTTP
            initialDelaySeconds: 5
            periodSeconds: 2
            successThreshold: 1
            timeoutSeconds: 1
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /readyz
              port: 8888
              scheme: HTTP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: event-subscriber-1
  name: event-subscriber-1
  namespace: eventing-test
spec:
  replicas: 1
  selector:
    matchLabels:
      app: event-subscriber-1
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: event-subscriber-1
    spec:
      containers:
        - image: eu.gcr.io/kyma-project/eventing-tools:latest
          command: ["subscriber"]
          imagePullPolicy: IfNotPresent
          name: event-subscriber
          ports:
            - name: http
              protocol: TCP
              containerPort: 8888
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /healthz
              port: 8888
              scheme: HTTP
            initialDelaySeconds: 5
            periodSeconds: 2
            successThreshold: 1
            timeoutSeconds: 1
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /readyz
              port: 8888
              scheme: HTTP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: event-subscriber-2
  name: event-subscriber-2
  namespace: eventing-test
spec:
  replicas: 1
  selector:
    matchLabels:
      app: event-subscriber-2
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: event-subscriber-2
    spec:
      containers:
        - image: eu.gcr.io/kyma-project/eventing-tools:latest
          command: ["subscriber"]
          imagePullPolicy: IfNotPresent
          name: event-subscriber
          ports:
            - name: http
              protocol: TCP
              containerPort: 8888
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /healthz
              port: 8888
              scheme: HTTP
            initialDelaySeconds: 5
            periodSeconds: 2
            successThreshold: 1
            timeoutSeconds: 1
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /readyz
              port: 8888
              scheme: HTTP
---
